.nav {
    display: "flex";
    justify-content: space-between;
}

.nav a{
    color: inherit;
    align-items: center;
}

.nav li:hover {
    /* background-color: #90db90; */
    /* background-color: #aebadc; */
    background-color: #410ca3;
    text-decoration: none;
}

.nav li.active {
    background-color: #3f69cc;
}